<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <h2>Applicant Information</h2>
  <mat-card class="application-card">
    <mat-card-content fxLayout="column">
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Name</h4>
        <mat-form-field>
          <input [(ngModel)]="name" matInput placeholder="Name">
        </mat-form-field>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Work experience</h4>
        <mat-form-field>
          <textarea [(ngModel)]="experienceSummary" matInput placeholder="Work experience" matTextareaAutosize matAutosizeMinRows="2"
            matAutosizeMaxRows="5"></textarea>
        </mat-form-field>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Country authorised to work in</h4>
        <mat-form-field>
          <input [(ngModel)]="countryPermitted.country" matInput placeholder="Country to work">
        </mat-form-field>
      </div>
      <div class="input-form" *ngIf="countryPermitted.country" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Work permit details</h4>
        <mat-form-field>
          <input [(ngModel)]="countryPermitted.permit" matInput placeholder="Work permit">
        </mat-form-field>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Upload photo</h4>
        <div>
          <button id="photo-custom-file-input" mat-button class="upload-button">
            Choose file
          </button>
          <input id="photo-file-input" name="myFile" type="file" (change)="encodePhoto()">
        </div>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Mobile number</h4>
        <mat-form-field>
          <input [(ngModel)]="mobileNumber" matInput placeholder="Mobile number">
        </mat-form-field>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Email ID</h4>
        <mat-form-field>
          <input [(ngModel)]="email" matInput placeholder="Email ID">
        </mat-form-field>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Highest qualification</h4>
        <mat-form-field>
          <input [(ngModel)]="highestQualification" matInput placeholder="Highest qualification">
        </mat-form-field>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Institution name</h4>
        <mat-form-field>
          <input [(ngModel)]="institution" matInput placeholder="Institution name">
        </mat-form-field>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Current/Last employer</h4>
        <mat-form-field>
          <input [(ngModel)]="previousEmployer.employer" matInput placeholder="Current/Last employer">
        </mat-form-field>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Current/Last Designation</h4>
        <mat-form-field>
          <input [(ngModel)]="previousEmployer.designation" matInput placeholder="Current/Last Designation">
        </mat-form-field>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Current/Last CTC</h4>
        <div>
          <mat-form-field>
            <input [(ngModel)]="previousEmployer.ctc.quantity" matInput placeholder="Current/Last CTC">
          </mat-form-field>
          <mat-form-field class="currencyInput">
            <mat-select placeholder="Currency" [(value)]="selectedCurrency">
              <mat-option *ngFor="let currency of currencies" [value]="currency">
                {{ currency }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Expected CTC</h4>
        <div>
          <mat-form-field>
            <input [(ngModel)]="expectedCTC.quantity" matInput placeholder="Expected CTC">
          </mat-form-field>
          <mat-form-field class="currencyInput">
            <mat-select placeholder="Currency" [(value)]="selectedCurrency">
              <mat-option *ngFor="let currency of currencies" [value]="currency">
                {{ currency }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Notice period</h4>
        <mat-form-field>
          <input [(ngModel)]="noticePeriod" matInput placeholder="Notice period">
        </mat-form-field>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Do you have a two wheeler</h4>
        <mat-form-field>
          <mat-select [(value)]="twoWheeler" placeholder="For sales roles only">
            <mat-option value="Yes">Yes</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Reasons for Change</h4>
        <mat-form-field>
          <mat-select [(value)]="reasonForChange" placeholder="Reasons for change">
            <mat-option *ngFor="let reason of reasons" [value]="reason">{{reason}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="reasonForChange === 'Other'">
          <input matInput [(ngModel)]="otherReason" placeholder="Please specify">
        </mat-form-field>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Career interest</h4>
        <mat-form-field>
          <input [(ngModel)]="careerInterest" matInput placeholder="Career interest">
        </mat-form-field>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>PAN Card Number</h4>
        <mat-form-field>
          <input [(ngModel)]="pancardNo" matInput placeholder="PAN Card">
        </mat-form-field>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Nationality</h4>
        <mat-form-field>
          <input [(ngModel)]="countryId.country" matInput placeholder="Country">
        </mat-form-field>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Unique citizenship ID</h4>
        <mat-form-field>
          <input [(ngModel)]="countryId.uniqueId" matInput placeholder="Aadhar/Unique ID">
        </mat-form-field>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Upload Latest Resume</h4>
        <div>
          <button id="resume-custom-file-input" mat-button class="upload-button">
            Choose file
          </button>
          <input id="resume-file-input" name="myFile" type="file" (change)="encodeResume()">
        </div>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Availability of Telephonic screening</h4>
        <div fxLayout="column" fxLayoutAlign="center center">
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field>
              <input matInput [(ngModel)]="phoneAvailability.time" [owlDateTime]="dt1" placeholder="Choose a date">
            </mat-form-field>
            <button mat-icon-button class="trigger" [owlDateTimeTrigger]="dt1">
              <mat-icon>today</mat-icon>
            </button>
            <owl-date-time #dt1></owl-date-time>
          </div>
          <mat-form-field>
            <input [(ngModel)]="phoneAvailability.comments" matInput placeholder="Comments">
          </mat-form-field>
        </div>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Availability for personal interview</h4>
        <div fxLayout="column" fxLayoutAlign="center center">
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field>
              <input [(ngModel)]="interviewAvailability.time" matInput [owlDateTime]="dt2" placeholder="Choose a date">
            </mat-form-field>
            <button mat-icon-button class="trigger" [owlDateTimeTrigger]="dt2">
              <mat-icon>today</mat-icon>
            </button>
            <owl-date-time #dt2></owl-date-time>
          </div>
          <mat-form-field>
            <input [(ngModel)]="interviewAvailability.comments" matInput placeholder="Comments">
          </mat-form-field>
        </div>
      </div>
      <div>
        <section>
          <mat-checkbox [(ngModel)]="declared">
            <h4 class="declaration" fxLayout="row" fxLayoutAlign="start">I hereby declare that the details furnished above are true and correct to the best of my knowledge and belief
              and I undertake to inform you of any changes therein, immediately. In case any of the above information is
              found to be false or untrue or misleading or misrepresenting, I am aware that I may be held liable for it.
              I hereby authorize COS-X to secure the information in the cloud database and share of the information furnished
              on this form with it’s clients on need basis.</h4>
          </mat-checkbox>
        </section>

      </div>
      <h3>Sign here</h3>
      <div class="signature">

        <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
      </div>
      <mat-card-actions>
        <button class="upload-button" mat-raised-button (click)="onReset()">Reset Sign</button>
        <button class="upload-button" mat-raised-button (click)="onSubmit()">Submit</button>
      </mat-card-actions>
    </mat-card-content>

  </mat-card>
</div>