<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <h2>Upload Documents</h2>
  <mat-card class="application-card">
    <mat-card-content>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Aadhar/Unique ID</h4>
        <div>
          <button id="custom-file-input-Aadhar" mat-button class="upload-button">
            Choose file
          </button>
          <input id="file-input-Aadhar" name="myFile" type="file" (change)="encodeFile()">
        </div>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>PAN</h4>
        <div>
          <button id="custom-file-input-PAN" mat-button class="upload-button">
            Choose file
          </button>
          <input id="file-input-PAN" name="myFile" type="file" (change)="encodeFile()">
        </div>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Salary revision letter</h4>
        <div>
          <button id="custom-file-input-salaryRevisionLetter" mat-button class="upload-button">
            Choose file
          </button>
          <input id="file-input-salaryRevisionLetter" name="myFile" type="file" (change)="encodeFile()">
        </div>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Performance letter</h4>
        <div>
          <button id="custom-file-input-performanceLetter" mat-button class="upload-button">
            Choose file
          </button>
          <input id="file-input-performanceLetter" name="myFile" type="file" (change)="encodeFile()">
        </div>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Relieving letter</h4>
        <div>
          <button id="custom-file-input-relievingLetter" mat-button class="upload-button">
            Choose file
          </button>
          <input id="file-input-relievingLetter" name="myFile" type="file" (change)="encodeFile()">
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Employment contract letter(Last two companies)</h4>
        <div>
          <button id="custom-file-input-contractLetterOne" mat-button class="upload-button">
            Choose file
          </button>
          <input id="file-input-contractLetterOne" name="myFile" type="file" (change)="encodeFile()">
        </div>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="end">
        <div>
          <button id="custom-file-input-contractLetterTwo" mat-button class="upload-button">
            Choose file
          </button>
          <input id="file-input-contractLetterTwo" name="myFile" type="file" (change)="encodeFile()">
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Salary statements(Last 3 payslips)</h4>
        <div>
          <button id="custom-file-input-paySlipOne" mat-button class="upload-button">
            Choose file
          </button>
          <input id="file-input-paySlipOne" name="myFile" type="file" (change)="encodeFile()">
        </div>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="end">
        <div>
          <button id="custom-file-input-paySlipTwo" mat-button class="upload-button">
            Choose file
          </button>
          <input id="file-input-paySlipTwo" name="myFile" type="file" (change)="encodeFile()">
        </div>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="end">
        <div>
          <button id="custom-file-input-paySlipThree" mat-button class="upload-button">
            Choose file
          </button>
          <input id="file-input-paySlipThree" name="myFile" type="file" (change)="encodeFile()">
        </div>
      </div>
      <mat-divider></mat-divider>
      <h3>Educational certificates</h3>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Post graduation</h4>
        <div>
          <button id="custom-file-input-pg" mat-button class="upload-button">
            Choose file
          </button>
          <input id="file-input-pg" name="myFile" type="file" (change)="encodeFile()">
        </div>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Under graduation</h4>
        <div>
          <button id="custom-file-input-ug" mat-button class="upload-button">
            Choose file
          </button>
          <input id="file-input-ug" name="myFile" type="file" (change)="encodeFile()">
        </div>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>12th standard</h4>
        <div>
          <button id="custom-file-input-twelfth" mat-button class="upload-button">
            Choose file
          </button>
          <input id="file-input-twelfth" name="myFile" type="file" (change)="encodeFile()">
        </div>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>10th standard</h4>
        <div>
          <button id="custom-file-input-tenth" mat-button class="upload-button">
            Choose file
          </button>
          <input id="file-input-tenth" name="myFile" type="file" (change)="encodeFile()">
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Work permits(optional)</h4>
        <div>
          <button id="custom-file-input-workPermit" mat-button class="upload-button">
            Choose file
          </button>
          <input id="file-input-workPermit" name="myFile" type="file" (change)="encodeFile()">
        </div>
      </div>
      <div class="input-form" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Miscellaneous</h4>
        <div>
          <button id="custom-file-input-miscellaneous" mat-button class="upload-button">
            Choose file
          </button>
          <input id="file-input-miscellaneous" name="myFile" type="file" (change)="encodeFile()">
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="upload-button" mat-raised-button (click)="onSubmit()">Upload documents</button>
    </mat-card-actions>
  </mat-card>
</div>